<!-- INCASE SEARCH IS NOT SUCCESFULLLL!!! -->
<!DOCTYPE html>
<html>
<head>
    <title>No Records Found</title>
</head>
<body>
    <h2>No Records Found</h2>
    <p>No records found for the name: @ViewBag.SearchTerm</p>
    <a href="@Url.Action("RecordSearch", "Home")">Back to Search</a>  
</body>
</html>
